<div class="card">
	<a href="{{ inData?.url }}">
		<div class="content">
			<span class="text_name">{{ inData?.name }}</span>
			<span class="text_author"> - {{ inData?.author }} - </span>
			<span class="text_date">{{ inData?.disdate }}</span>
		</div>
	</a>
	<div class="trash">
		<img src="https://img.icons8.com/trash">
	</div>
</div>