a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    display: contents;
}
.card {
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    color: #333;
    font-size: 13px;
    display: flex;
    .content{
        padding: 1rem;
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        .text_author {
            color: #999;
        }
        .text_date {
            margin-right:0 ;
            margin-left: auto;
        }
    }
    .trash {
        padding: 1rem 1rem 1rem 0rem;
        flex-grow: 0;
        flex-shrink: 0;
        transition:opacity .2s;
        opacity: 0;

        img {
            width: 13px;
            height: 13px;
        }
    }
    &:hover {
        background-color: #fafafa;
        .trash {
            opacity: 1 !important;
        }
    }
}
